/* CSS Dokument */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


body {
    background: #212121;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap:break-word !important;
    font-family: 'Open Sans', sans-serif;
}

/* index background billede */
.wrapper {
    background-image: url(../img/backgroundSheep.jpg);

    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    height: 750px;


}

/* index background billede for mobile  */
@media only screen and (max-width: 767px) {
    .wrapper {

        background-image: url(../img/backgroundSheep.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }


}

h1 {
    margin-top: 30px;
    font-size: 52px;
    line-height: 52px;
    text-align: center;
    color: #FFF;
    font-family: 'Bree Serif', 'serif';
    text-align:center;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
}

h3 a {
    color: #FFF;
}

h2 {
    margin-top: 10px;
    text-align:center;
    font-size:30px;
    line-height: 30px;
    font-family: 'Bree Serif', 'serif';
}

.content {
    margin: 5px auto;
    width: 900px;
}

/* Login starter */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.login {
    margin: 15px auto;
    width: 300px;
    margin-bottom: 50px;
}
.login-screen {
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    font-size:26px;
    line-height: 26px;
    font-family: 'Bree Serif', 'serif';
    color: #777;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 22px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 14px 0;
    width: 250px;
    margin-top: 20px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #254441;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #416d69;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 10px;
}



/* Menu starter */
a {
    color: #FFF;
}


#container {
    margin: 0 auto;
    max-width: 890px;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Background-color nav container. */
nav {
    margin:0;
    padding: 0;
    background-color: rgba(37,68,65,0.5);
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size:20px;
    line-height: 60px;
    word-wrap:break-word !important;
    font-family: 'Bree Serif', 'serif';
}

/* Siden vi har en "ul li" "float:left"
 * Er vi nødtil at clear efter container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Fjern padding, margin og "list-style" fra "ul",
 *  og tilføjer "position:reltive" */
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* Placering af navigation elementer inline */
nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #254441;
}

/* Styling links */
nav a {
    display:block;
    padding:14px 20px;
    color:#FFF;
    font-size:17px;
    text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color skifter on Hover */
nav a:hover {
    background-color: #000000;
}

/* Gem Dropdowns Standard
 * Og giv den en position absolute */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}


li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/* Menu on Media mobile */
@media all and (max-width : 768px) {

    /*
     #logo {
       display: block;
       padding: 0;
       width: 100%;
       text-align: center;
       float: none;
     }
   */
    h1 {
        margin-top: 30px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
        font-family: 'Bree Serif', 'serif';
        text-align:center;
    }

    h3 {
        display: none;
    }


    nav {
        margin: 0;
    }

    /* Gem navigation menu Standard */
    .toggle + a,
    .menu {
        text-align: center;
        float: none;
        display: none;
    }

    /* Stylinf toggle lable */
    .toggle {
        display: block;
        background-color: #254441;
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
        text-align: center;
    }

    .toggle:hover {
        background-color: #000000;
    }

    /* Display Dropdown når man trykker på parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        width: 100%;
    }

    /* Skift menu elementets width til 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }


    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }


    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }


    /* Gem Dropdowns standard */

    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
    }

    /* Gem menus on hover */

    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display:block;
        width: 94%;
    }

}



/* Registrer får form starter */

.RegistrerSheep {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.RegistrerSheep li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.RegistrerSheep label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.RegistrerSheep input[type=text],
.RegistrerSheep input[type=date],
.RegistrerSheep input[type=datetime],
.RegistrerSheep input[type=number],
.RegistrerSheep input[type=search],
.RegistrerSheep input[type=time],
.RegistrerSheep input[type=url],
.RegistrerSheep input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.RegistrerSheep input[type=text]:focus,
.RegistrerSheep input[type=date]:focus,
.RegistrerSheep input[type=datetime]:focus,
.RegistrerSheep input[type=number]:focus,
.RegistrerSheep input[type=search]:focus,
.RegistrerSheep input[type=time]:focus,
.RegistrerSheep input[type=url]:focus,
.RegistrerSheep input[type=email]:focus,
.RegistrerSheep textarea:focus,
.RegistrerSheep select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.RegistrerSheep .field-divided{
    width: 49%;
}

.RegistrerSheep .field-long{
    width: 100%;
}
.RegistrerSheep .field-select{
    width: 100%;
}
.RegistrerSheep .field-textarea{
    height: 100px;
}
.RegistrerSheep input[type=submit], .RegistrerSheep input[type=button]{
    background: #254441;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.RegistrerSheep input[type=submit]:hover, .RegistrerSheep input[type=button]:hover{
    background: #416d69;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.RegistrerSheep .required{
    color:red;
}


/* Start vis data table */

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0 0 11px 0;
    width: 100%;
}

table th {
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: center;
}

table td {
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}

table th:nth-child(1),
table td:nth-child(1) {
    text-align: left;
    padding-left: 0;
    font-weight: bold;
}

table td:nth-child(7) {
    text-align: center;
    color: #32CD32;
    font-weight: bold;
}


table .btn-data {
    border: 2px solid transparent;
    background: #254441;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 80px;
    margin: 0 auto;
    text-align: center;
}

table .btn-data:hover {
    background-color: #416d69;
}

table .btn-data-red {
    border: 2px solid transparent;
    background: #8B0000;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 80px;
    margin: 0 auto;
    text-align: center;
}

table .btn-data-red:hover {
    background-color: #FF0000;
}

table .table-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 10px;
}

/* Søge funktion til table */

/*div .search {
    margin: 5px auto;
    width: 250px;
}
input .light-table-filter {
    width: 100%;
    text-align:center;

    float: right;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}*/

/* Confirm Får registreret  */


/*.confirm {
    margin: 5px auto;
    width: 300px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}*/

/* responsive table on mobile*/


@media screen and (max-width: 768px) {
    .content {
        margin: 5px auto;
        width: 350px;
    }

    table,
    tbody {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    table tr,
    table th,
    table td {
        display: block;
        padding: 0;
        text-align: center;
        white-space: normal;
    }

    table tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 11px;
        margin-bottom: 11px;
    }

    table th[data-title]:before,
    table td[data-title]:before {
        content: attr(data-title) ":\00A0";
        font-weight: bold;
    }

    table td:nth-child(7) {
        text-align: center;
        color: #32CD32;
        font-weight: bold;
    }

    table td {
        border: none;
        margin-bottom: 1px;
        color: #FFF;
    }

    table td:empty { display: none; }

    table td:first-child {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 1px;
        margin-top: 10px;
        color: #00b2ff;
        text-align: center;
    }

    table .btn-data {
        align-content: center;
        border: 2px solid transparent;
        background: #254441;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 5px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: inline-block;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
    }

    table .btn-data:hover {
        background-color: #416d69;
    }

    table .btn-data-red {
        align-content: center;
        border: 2px solid transparent;
        background: #8B0000;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 5px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: inline-block;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 6px;
    }

    table .btn-data-red:hover {
        background-color: #FF0000;
    }

    table .table-link {
        font-size: 12px;
        color: #444;
        display: block;
        margin-top: 10px;
    }

    /* table td:first-child:before { content: ''; } */

}

